window {
    margin: 5px;
    border: 2px solid #f38ba8;
    background-color: #1e1e2e;
    border-radius: 10px;
}

#outer-box {
    margin: 2px;
    border-radius: 10px;

    background-color: #1e1e2e;
}

#input {
    margin: 5px;
    border: 2px solid blue;
    background-color: blue;
}

#inner-box {
    margin: 5px;
    border: 2px solid yellow;
    background-color: yellow;
}

#scroll {
    margin: 5px;
    border: 2px solid orange;
    background-color: orange;
}

#text {
    margin: 5px;
    border: 2px solid cyan;
    background-color: cyan;
}